GITHUB_USER=username
GITHUB_USER_NAME='First Last'
GITHUB_USER_EMAIL=me@mail.com
GITHUB_REPO=latam-newr-training

DOCKERHUB_USER=username
TAG=latest

PUBLIC_URL=http://docker-for-desktop:8888

NEW_RELIC_LICENSE_KEY=
NEW_RELIC_BROWSER_LICENSE_KEY=
NEW_RELIC_BROWSER_APPLICATION_ID=

CLUSTER_NAME=local